<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925269886872-sp3mpvqat9e0gnff66sgap2a6v5tffuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925269886872-sp3mpvqat9e0gnff66sgap2a6v5tffuk</string>
	<key>API_KEY</key>
	<string>AIzaSyAeiROlzv4yJNqhMsh252UMXreCoDgw63Q</string>
	<key>GCM_SENDER_ID</key>
	<string>925269886872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Noneudemy.Swift6FireStore08</string>
	<key>PROJECT_ID</key>
	<string>swift6firestorebasic08</string>
	<key>STORAGE_BUCKET</key>
	<string>swift6firestorebasic08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925269886872:ios:b0fe44d79bcd73798e4ded</string>
</dict>
</plist>